html {
    padding: 0 20px;
    text-align: center;
}

body {
    font: 16px/1.5 Helvetica Neue, Avenir Next Condensed, Helvetica, Arial, Hiragino Sans GB, serif;
    text-align: left;
    margin: 0 auto;
    max-width: 1024px;
    -webkit-font-smoothing: antialiased;
}
body, .post .title {
    color: #222426;
    color: rgba(34, 36, 38, .95);
}
.sans-serif, #footer p, .post .date {
    font-family: Avenir Next Condensed, Helvetica Neue, Helvetica, Arial, sans-serif;
}
.serif {
    font-family: Andada, Georgia, Times, Times New Roman, sans-serif;
}

table {
    margin: 0 auto 1em;
    border-spacing: 0;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}
tbody tr:nth-child(odd) {
    background: #f3f3f3; 
}
th, td {
    padding: 5px 20px;
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
}
code, pre {
    font: 12px Source Code Pro, Menlo, Monaco, Consolas, monospace;
}
p code {
    padding: 0 4px;
    border-radius: 4px;
    background: #eee;
}
.highlight {
    background: transparent;
}
@media (max-width:768px) {
    .highlight:hover {
        overflow: hidden;
    }
    .highlight:hover, .highlight:active {
        overflow: visible;
    }
}
.highlight pre {
    border-left: 1px solid #aaa;
    padding-left: 2em;
}
.animated, a, .leading.blurry + .three-fourth p:first-child {
    -webkit-transform: translate(0px, 0px);
    -moz-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    transform: translate(0px, 0px);

    -webkit-transition: all .8s cubic-bezier(0.250, 0.460, 0.450, 0.940);
    -moz-transition: all .8s cubic-bezier(0.250, 0.460, 0.450, 0.940);
    -ms-transition: all .8s cubic-bezier(0.250, 0.460, 0.450, 0.940);
    transition: all .8s cubic-bezier(0.250, 0.460, 0.450, 0.940);
}
.animated.faster, #header a {
    -webkit-transition-duration: .4s;
    -moz-transition-duration: .4s;
    -ms-transition-duration: .4s;
    transition-duration: .4s;
}

.left {
    float: left;
}
.post img {
    zoom: 0.5;
    max-width: 100%;
    display: block;
    margin: 0 auto;
}
a, .visited {
    color: crimson;
    color: rgba(223, 10, 55, .8);
    border-bottom: 1px solid transparent;
    text-decoration: none;
}
a:hover, #footer a:hover {
    color: crimson;
    color: rgba(223, 10, 55, .8);
}

.third, .two-third {
    float: left;
    margin: 0;
}

.third {
    width: 32%;
}
.two-third {
    width: 66%;
}

.third + .third,
.third + .two-third,
.two-third + .third {
    margin-left: 2%;
}

.third + .third + .third + .third,
.third + .third + .third + .two-third,
.third + .two-third + .third,
.third + .two-third + .two-third,
.two-third + .third + .third,
.two-third + .third + .two-third {
    clear: both;
    margin-left: 0;
}

@media (max-width: 480px) {
    .third, .two-third {
        float: none;
        margin: 0;
        width: 100%;
    }
    .third + .third,
    .third + .third + .third,
    .third + .two-third,
    .two-third + .third {
        margin-left: 0;
    }
}

.fourth, .two-fourth, .three-fourth {
    float: left;
    margin: 0;
}

.fourth {
    width: 23.5%;
}
.two-fourth {
    width: 49%;
}
.three-fourth {
    width: 74.5%;
}

.fourth + .fourth,
.fourth + .two-fourth,
.fourth + .three-fourth,
.two-fourth + .fourth,
.two-fourth + .two-fourth,
.three-fourth + .fourth {
    margin-left: 2%;
}

.fourth + .fourth + .fourth + .fourth + .fourth,
.fourth + .fourth + .two-fourth + .fourth,
.fourth + .two-fourth + .fourth + .fourth,
.fourth + .three-fourth + .fourth,
.two-fourth + .fourth + .fourth + .fourth,
.two-fourth + .two-fourth + .fourth,
.three-fourth + .fourth + .fourth {
    clear: both;
    margin-left: 0;
}


@media (max-width: 480px) {
    .fourth, .two-fourth, .three-fourth {
        float: none;
        margin: 0;
        width: 100%;
    }
    .fourth + .fourth,
    .fourth + .two-fourth,
    .fourth + .three-fourth,
    .two-fourth + .fourth,
    .two-fourth + .two-fourth,
    .three-fourth + .fourth {
        margin-left: 0;
    }
}

.clear {
    clear: both;
}

.red {
    background: crimson;
}

.blue {
    background: #3c94dc;
}

.green {
    background: #34a946;
}
.black {
    background: #999;
}

#header {
    margin: 10px 0 0;
}

/* title */
h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
}

#header a {
    color: #999;
    line-height: 34px;
    height: 34px;
}
#header a:hover {
    color: rgba(223, 10, 55, .8);
}
#header .title {
    font: 600 32px Andada, Georgia, serif;
    color: rgba(0,0,0,0.3);
    text-shadow: 0 2px 0 #fff;
}
@media (max-width:480px) {
    #header a {
        font-size: 14px;
        line-height: 24px;
    }
    #header .title {
        font-size: 20px;
    }
}

.detail-page .title:before {
    content: "< ";
}

#header .extra {
    float: right;
    font-weight: 600;
}
#header .extra a {
    margin-left: 20px;
}

.post .title {
    display: block;
    position: relative;
    z-index: 4;

    font-weight: 600;
    font-size: 20px;
    line-height: 32px;
    vertical-align: middle;

    border-bottom: 1px solid black;
    text-decoration: none;

    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.leading:hover .title {
    color: crimson;
    color: rgba(223, 10, 55, .8);
    background-color: white;
    background-color: rgba(255, 255, 255, .7);

    overflow: visible;
    min-width: 100%;
}
.post .leading + .three-fourth, .post .leading {
    margin-top: 40px;
    margin-bottom: 30px;
}
@media (min-width: 481px) {
    .leading.blurry:hover + .three-fourth p:first-child {
        -webkit-filter: blur(2px) grayscale(0.8);
        opacity: 0.8;
    }
    .leading:hover .title {
        display: inline-block;
    }
}

.post .date {
    margin-left: 0;
    margin-top: 5px;
    font-weight: 200;
}
@media (max-width: 480px) {
    .post .title {
        border-bottom: 1px solid transparent;
        color: #222426;
        color: rgba(34, 36, 38, .95);
        background-color: transparent;
    }
    .post .date {
        text-indent: 0;
    }
    .post .leading + .three-fourth, .post .leading {
        margin-top: 0;
        margin-bottom: 0;
    }
    .post .leading {
        margin-top: 20px;
    }
}
.post h2, .post h3 {
    font-size: 1em;
}
.post p {
    margin-bottom: 1em;
}
/* keep in line with .post p */
.post ul {
    margin: 0 0 1em;
}
.post a:hover {
    border-bottom: 1px solid crimson;
}

.standalone {
    margin: 0 auto;
    max-width: 960px;
}
.standalone .date {
    color: #999;
    font-weight: 400;
    text-align: left;
    margin-bottom: 1em;
    height: 20px;
}
.standalone .date span {
    vertical-align: top;
    margin-right: 15px;
    line-height: 20px;
}
.standalone a.twitter-share-button {
    display: none;
}

.standalone h2 {
    font-size: 1.5em;
    font-weight: 200;
    margin-top: 30px;
    margin-bottom: 10px;
}

.standalone h2:first-child {
    margin-bottom: 0;
    font-weight: 600;
}
.standalone + #disqus_thread {
    margin-top: 60px;
}
#footer {
    clear: both;
    border-top: 1px solid #eee;
    color: #223b4a;
    color: rgba(34,59,74,.4);
    padding: 10px 0;
    font-size: 12px;
}
.standalone ~ #footer {
    border-top: none;
    padding-top: 0;
}

#footer p {
    text-align: right;
}
#footer p.left {
    text-align: left;
}
#footer a {
    color: crimson;
    color: rgba(223, 10, 55, .4);
}

