---
layout: default
---

<div class="post standalone">
<h2>{{ page.title }}</h2>
<div class="date">{{ page.date | date_to_string }}</div>

{{ content }}
</div>


<div id=disqus_thread></div>
<script>
    (function() {
        var dsq = document.createElement('script');
        dsq.type = 'text/javascript';
        dsq.async = true;
        dsq.src = '//ljw.disqus.com/embed.js';
        (document.head || document.getElementsByTagName('head')[0]).appendChild(dsq);
        try {
            document.body.classList.add("detail-page");
        } catch (e) {}
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
<a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>

