---
layout: default
type: post
---

<div class="post standalone">
<h2>{{ page.title }}</h2>
<div class="date">
    <span>{{ page.date | date_to_string }}</span><a href="https://twitter.com/share" class="twitter-share-button" data-size="small" data-count="none">Tweet</a>
</div>
{{ content }}
</div>

<div id=disqus_thread></div>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
<a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>

